.App {
    text-align: center;

  }

  #loggedin {
    font-size: 7px;
  }
  .App-link {
    color: #61dafb;
  }

  .NavBar {
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    background-color: #8fdbf0;
    font-size: 20px;
  }
  
  .active {
    color: green;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  #36c4eb;
    color: rgb(242, 246, 0);
    font-size: 28px;
    max-height: 20vh;
    justify-content: center;
    padding-bottom: 10px;
    text-shadow: 2px 2px 8px #FF0000
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #e6b782;
    color: white;
    text-shadow: 2px 2px 8px #FF0000

  }

  body {
    min-height: 400px;
    margin-bottom: 150px;
    clear: both;
  }